<div class="container_big-card">
  <div class="big-card_photo">
    <img
      src="https://cdn.awsli.com.br/800x800/1258/1258259/produto/76767912/xbox-series-s-xnb5461wl9.png"
      height="200px"
      alt=""
      srcset="">
  </div>

  <div class="big-card_title">
    <h1><a href="#">Novo site do Angular lançado</a></h1>
  </div>

  <div class="big-card_description">
    <p>
      <a href="#">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Culpa illum enim debitis architecto in quis nam, beatae et velit eum! Temporibus nesciunt aliquam nihil, a dolore omnis sit culpa pariatur.</a>
    </p>
  </div>
</div>
